# Data Collection

In [1]:
import pandas as pd

---

### Results

In [2]:
results = pd.read_csv('./data/results.csv')
results.head()
# data from kaggle:  https://www.kaggle.com/martj42/international-football-results-from-1872-to-2017?select=results.csv

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0.0,0.0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4.0,2.0,Friendly,London,England,False
2,1874-03-07,Scotland,England,2.0,1.0,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2.0,2.0,Friendly,London,England,False
4,1876-03-04,Scotland,England,3.0,0.0,Friendly,Glasgow,Scotland,False

In [3]:
results.shape

(43045, 9)

In [4]:
results[results['date'] < '1992-12-31'].shape  # <- 1st date of FIFA rankings

(17489, 9)

In [5]:
results.drop(results[results['date'] < '1992-12-31'].index, inplace=True)

In [6]:
results.shape

(25556, 9)

In [7]:
results.reset_index(inplace=True)

In [8]:
results.drop(columns='index', inplace=True)
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True
1,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False
2,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False
3,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True
4,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False

---

### CONCACAF World Cup Qualifying Fixtures

In [9]:
qualifying_fixtures = pd.read_csv('./data/concacaf_wcq_fixtures.csv')
qualifying_fixtures.tail()
# data from FIFA site:  https://www.fifa.com/tournaments/mens/worldcup/qatar2022/qualifiers/concacaf

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
54,2022-03-29,Panama,Canada,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN
55,2022-03-29,Costa Rica,United States,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
qualifying_fixtures[qualifying_fixtures['date'].isnull()]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
qualifying_fixtures.drop(index=qualifying_fixtures[qualifying_fixtures['date'].isnull()].index, inplace=True)

In [12]:
qualifying_fixtures.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,2021-09-02,Canada,Honduras,1.0,1.0,FIFA World Cup qualification,Toronto,Canada,False
1,2021-09-02,Panama,Costa Rica,0.0,0.0,FIFA World Cup qualification,Panama City,Panama,False
2,2021-09-02,Mexico,Jamaica,2.0,1.0,FIFA World Cup qualification,Mexico City,Mexico,False
3,2021-09-02,El Salvador,United States,0.0,0.0,FIFA World Cup qualification,San Salvador,El Salvador,False
4,2021-09-05,Jamaica,Panama,0.0,3.0,FIFA World Cup qualification,Kingston,Jamaica,False

---

### Current Table DF

In [13]:
table = pd.read_csv('./data/current_table_12.14.2021.csv')
table
# data from FIFA site:  https://www.fifa.com/tournaments/mens/worldcup/qatar2022/qualifiers/concacaf

,rank,team_name,matches_played,wins,draws,losses,goals_for,goals_against,goal_differential,points
0,1,Canada,8,4,4,0,13,5,8,16
1,2,USA,8,4,3,1,12,5,7,15
2,3,Mexico,8,4,2,2,11,7,4,14
3,4,Panama,8,4,2,2,11,9,2,14
4,5,Costa Rica,8,2,3,3,6,7,-1,9
5,6,Jamaica,8,1,4,3,6,10,-4,7
6,7,El Salvador,8,1,3,4,4,10,-6,6
7,8,Honduras,8,0,3,5,5,15,-10,3

---

### World Rankings

In [14]:
past_rankings = pd.read_csv('./data/fifa_ranking_up_to_2021-05-27.csv')
past_rankings.head()
# data from kaggle:  https://www.kaggle.com/cashncarry/fifaworldranking

,id,rank,country_full,country_abrv,total_points,previous_points,rank_change,confederation,rank_date
0,43818,82,Iraq,IRQ,15,0,0,AFC,12/31/1992
1,43873,107,Mozambique,MOZ,9,0,0,CAF,12/31/1992
2,43816,108,Indonesia,IDN,9,0,0,AFC,12/31/1992
3,1882218,109,Antigua and Barbuda,ATG,8,0,0,CONCACAF,12/31/1992
4,43820,110,Jordan,JOR,8,0,0,AFC,12/31/1992

In [15]:
past_rankings = past_rankings[['rank', 'country_full', 'rank_date']]
past_rankings.head()

   rank         country_full   rank_date
0    82                 Iraq  12/31/1992
1   107           Mozambique  12/31/1992
2   108            Indonesia  12/31/1992
3   109  Antigua and Barbuda  12/31/1992
4   110               Jordan  12/31/1992

In [16]:
past_rankings.shape

(63055, 3)

In [17]:
recent_rankings = pd.read_csv('./data/fifa_ranking_2021-08-12_to_2021-11-19.csv')
recent_rankings.head()
# data from FIFA:  https://www.fifa.com/fifa-world-ranking/

   rank country_full   rank_date
0   1.0      Belgium  2021-08-12
1   2.0       Brazil  2021-08-12
2   3.0       France  2021-08-12
3   4.0      England  2021-08-12
4   5.0        Italy  2021-08-12

In [18]:
recent_rankings[recent_rankings['country_full'] == 'USA'].tail()

     rank country_full   rank_date
9    10.0          USA  2021-08-12
222  13.0          USA  2021-09-16
432  13.0          USA  2021-10-21
641  12.0          USA  2021-11-19

In [19]:
rankings = pd.concat([past_rankings, recent_rankings])
rankings.shape

(64733, 3)

In [20]:
rankings.reset_index(inplace=True)
rankings.drop(columns='index', inplace=True)
rankings.head()

    rank         country_full   rank_date
0   82.0                 Iraq  12/31/1992
1  107.0           Mozambique  12/31/1992
2  108.0            Indonesia  12/31/1992
3  109.0  Antigua and Barbuda  12/31/1992
4  110.0               Jordan  12/31/1992

---

# Combining and Cleaning the Data

### Adding Rankings to and Cleaning the Results Table

In [21]:
rankings.dropna(inplace=True)

In [22]:
results['home_rank'] = 0
results['away_rank'] = 0

results['datetime'] = pd.to_datetime(results['date'])
rankings['datetime'] = pd.to_datetime(rankings['rank_date'])

results.drop(results[(results['datetime'] > '2021-09-01 00:00:00')].index, inplace=True)
rankings.drop(rankings[(rankings['datetime'] > '2021-09-01 00:00:00')].index, inplace=True)
# These results and rankings contain matches we are looking to predict

In [23]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True,0,0,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False,0,0,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False,0,0,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True,0,0,1993-01-03
4,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False,0,0,1993-01-03

In [24]:
results.shape

(25097, 12)

In [25]:
# Dropping games for teams that are not FIFA members and do not have a FIFA ranking

non_fifa_teams = ['Martinique', 'French Guiana', 'Guadeloupe', 'Guernsey', 'Ynys Môn', 'Isle of Wight', 'Åland Islands',
                  'Jersey', 'Isle of Man', 'Greenland', 'Shetland', 'Basque Country', 'Sint Maarten', 'Zanzibar', 
                  'Canary Islands', 'Frøya', 'Hitra', 'Catalonia', 'Corsica', 'Brittany', 'Palau', 'Gotland', 
                  'Saare County', 'Rhodes', 'Micronesia', 'Andalusia', 'Kernow', 'Saint Martin', 'Orkney', 'Monaco', 
                  'Tuvalu', 'Sark', 'Alderney', 'Kiribati', 'Mayotte', 'Western Isles', 'Falkland Islands', 'Réunion', 
                  'Galicia', 'Northern Cyprus', 'Republic of St. Pauli', 'Găgăuzia', 'Tibet', 'Occitania', 'Sápmi', 
                  'Silesia', 'Northern Mariana Islands', 'Menorca', 'Provence', 'Arameans Suryoye', 'Padania', 
                  'Iraqi Kurdistan', 'Gozo', 'Bonaire', 'Western Sahara', 'Raetia', 'Darfur', 'Tamil Eelam', 'Abkhazia', 
                  'Saint Pierre and Miquelon', 'Artsakh', 'Madrid', 'Vatican City', 'Ellan Vannin', 'South Ossetia', 
                  'County of Nice', 'Székely Land', 'Romani people', 'Felvidék', 'Chagos Islands', 
                  'United Koreans in Japan', 'Somaliland', 'Western Armenia', 'Barawa', 'Kárpátalja', 'Yorkshire', 
                  'Panjab', 'Cascadia', 'Matabeleland', 'Kabylia', 'Parishes of Jersey', 'Saint Helena', 'Chameria', 
                  'Wallis Islands and Futuna', 'Crimea']

for team in non_fifa_teams:
    results.drop(results[results['home_team'].str.contains(team)].index, inplace=True)
    results.drop(results[results['away_team'].str.contains(team)].index, inplace=True)

In [74]:
# dropping matches for countries prior to their first FIFA ranking
teams = ['United Arab Emirates', 'Netherlands', 'Guyana', 'Cayman Islands', 'Thailand', 'Sri Lanka','Vietnam', 
         'Latvia', 'Macau', 'Bahrain', 'Algeria', 'Dominican Republic', 'Fiji', 'Slovakia', 'Anguilla', 'Dominica', 
         'Czech Republic', 'Azerbaijan', 'Turkmenistan', 'Gibraltar', 'Georgia', 'North Macedonia', 'Kazakhstan', 
         'Uzbekistan', 'Tajikistan', 'Papua New Guinea', 'Samoa', 'Tonga', 'Montserrat', 'Montenegro', 
         'Serbia and Montenegro', 'Curaçao', 'Cook Islands', 'Guam', 'New Caledonia', 'Bosnia and Herzegovina', 
         'Andorra', 'British Virgin Islands', 'Palestine', 'US Virgin Islands', 'São Tomé and Príncipe', 'Bhutan', 
         'Afghanistan', 'Kosovo', 'South Sudan', 'Moldova', 'Armenia', 'American Samoa', 'Djibouti', 'Eritrea', 
         'Belize', 'Turks and Caicos Islands', 'Comoros', 'St. Kitts and Nevis', 'East Timor']

rank_dates = ['1993-08-08 00:00:00', '1993-08-08 00:00:00', '1993-08-08 00:00:00', '1993-08-08 00:00:00', 
              '1993-08-08 00:00:00', '1993-08-08 00:00:00', '1993-08-08 00:00:00', '1993-08-08 00:00:00', 
              '1993-08-08 00:00:00', '1993-08-08 00:00:00','1993-08-08 00:00:00', '1993-08-08 00:00:00', 
              '1993-08-08 00:00:00', '1993-11-19 00:00:00', '1997-05-14 00:00:00', '1995-02-20 00:00:00', 
              '1994-03-15 00:00:00', '1994-06-14 00:00:00', '1994-10-25 00:00:00', '2016-09-15 00:00:00', 
              '1994-03-15 00:00:00', '1994-05-17 00:00:00', '1994-11-22 00:00:00', '1994-10-25 00:00:00', 
              '1994-11-22 00:00:00', '1996-09-25 00:00:00', '1996-11-20 00:00:00', '1996-11-20 00:00:00', 
              '1999-03-24 00:00:00', '2007-06-13 00:00:00', '2002-12-18 00:00:00', '2007-06-13 00:00:00', 
              '1996-11-20 00:00:00', '1996-08-28 00:00:00', '2004-06-09 00:00:00', '1996-05-22 00:00:00', 
              '1996-11-20 00:00:00', '1997-05-14 00:00:00', '1998-12-23 00:00:00', '1999-03-24 00:00:00', 
              '1998-08-19 00:00:00', '2000-08-09 00:00:00', '2003-01-15 00:00:00', '2016-07-14 00:00:00', 
              '2012-08-08 00:00:00', '1994-05-17 00:00:00', '1994-06-14 00:00:00', '1998-10-21 00:00:00', 
              '1994-12-20 00:00:00', '1998-10-21 00:00:00', '1995-12-19 00:00:00', '1999-03-24 00:00:00', 
              '2006-12-18 00:00:00', '1993-12-23 00:00:00', '2006-11-22 00:00:00']

team_and_rankdate = list(zip(teams, rank_dates))

for team in team_and_rankdate:
    results.drop(results[(results['home_team'] == team[0]) & (results['datetime'] < team[1])].index, inplace=True)
    results.drop(results[(results['away_team'] == team[0]) & (results['datetime'] < team[1])].index, inplace=True)

In [75]:
# Ensuring country name matches in rankings and results dataframes

rankings.loc[rankings[rankings['country_full'].str.contains('Congo')].index, 'country_full'] = 'Congo'
results.loc[results[results['home_team'].str.contains('Congo')].index, 'home_team'] = 'Congo'
results.loc[results[results['away_team'].str.contains('Congo')].index, 'away_team'] = 'Congo'

rankings.loc[rankings[rankings['country_full'].str.contains('Swaziland')].index, 'country_full'] = 'Eswatini'
rankings.loc[rankings[rankings['country_full'].str.contains('Eswatini')].index, 'country_full'] = 'Eswatini'
results.loc[results[results['home_team'].str.contains('Eswatini')].index, 'home_team'] = 'Eswatini'
results.loc[results[results['away_team'].str.contains('Eswatini')].index, 'away_team'] = 'Eswatini'

rankings.loc[rankings[rankings['country_full'].str.contains('Korea DPR')].index, 'country_full'] = 'North Korea'
results.loc[results[results['home_team'].str.contains('North Korea')].index, 'home_team'] = 'North Korea'
results.loc[results[results['away_team'].str.contains('North Korea')].index, 'away_team'] = 'North Korea'

rankings.loc[rankings[rankings['country_full'].str.contains('USA')].index, 'country_full'] = 'United States'
results.loc[results[results['home_team'].str.contains('United States')].index, 'home_team'] = 'United States'
results.loc[results[results['away_team'].str.contains('United States')].index, 'away_team'] = 'United States'


rankings.loc[rankings[rankings['country_full'].str.contains('Ivoire')].index, 'country_full'] = 'Ivory Coast'
results.loc[results[results['home_team'].str.contains('Ivoire')].index, 'home_team'] = 'Ivory Coast'
results.loc[results[results['away_team'].str.contains('Ivoire')].index, 'away_team'] = 'Ivory Coast'

rankings.loc[rankings[rankings['country_full'].str.contains('Kitts and Nevis')].index, 'country_full'] = 'St. Kitts and Nevis'
results.loc[results[results['home_team'].str.contains('Kitts and Nevis')].index, 'home_team'] = 'St. Kitts and Nevis'
results.loc[results[results['away_team'].str.contains('Kitts and Nevis')].index, 'away_team'] = 'St. Kitts and Nevis'

rankings.loc[rankings[rankings['country_full'].str.contains('Korea Republic')].index, 'country_full'] = 'South Korea'
results.loc[results[results['home_team'].str.contains('Korea Republic')].index, 'home_team'] = 'South Korea'
results.loc[results[results['away_team'].str.contains('Korea Republic')].index, 'away_team'] = 'South Korea'

rankings.loc[rankings[rankings['country_full'].str.contains('St. Vin')].index, 'country_full'] = 'St. Vincent and the Grenadines'
results.loc[results[results['home_team'].str.contains('Vincent')].index, 'home_team'] = 'St. Vincent and the Grenadines'
results.loc[results[results['away_team'].str.contains('Vincent')].index, 'away_team'] = 'St. Vincent and the Grenadines'

rankings.loc[rankings[rankings['country_full'].str.contains('Iran')].index, 'country_full'] = 'Iran'
results.loc[results[results['home_team'].str.contains('Iran')].index, 'home_team'] = 'Iran'
results.loc[results[results['away_team'].str.contains('Iran')].index, 'away_team'] = 'Iran'

rankings.loc[rankings[rankings['country_full'].str.contains('Kyrgyz')].index, 'country_full'] = 'Kyrgyzstan'
results.loc[results[results['home_team'].str.contains('Kyrgyz')].index, 'home_team'] = 'Kyrgyzstan'
results.loc[results[results['away_team'].str.contains('Kyrgyz')].index, 'away_team'] = 'Kyrgyzstan'

results.loc[results[(results['home_team'] == 'Serbia') & (results['datetime'] < '2006-07-12 00:00:00')].index, 'home_team'] = 'Serbia and Montenegro'
results.loc[results[(results['away_team'] == 'Serbia') & (results['datetime'] < '2006-07-12 00:00:00')].index, 'away_team'] = 'Serbia and Montenegro'

rankings.loc[rankings[rankings['country_full'].str.contains('Lucia')].index, 'country_full'] = 'St. Lucia'
results.loc[results[results['home_team'].str.contains('Lucia')].index, 'home_team'] = 'St. Lucia'
results.loc[results[results['away_team'].str.contains('Lucia')].index, 'away_team'] = 'St. Lucia'

rankings.loc[rankings[rankings['country_full'].str.contains('Netherlands Antilles')].index, 'country_full'] = 'Curaçao'

rankings.loc[rankings[rankings['country_full'].str.contains('Verde')].index, 'country_full'] = 'Cape Verde'

rankings.loc[rankings[rankings['country_full'].str.contains('Brunei')].index, 'country_full'] = 'Brunei'

results.loc[results[results['home_team'].str.contains('United States Virgin Islands')].index, 'home_team'] = 'US Virgin Islands'
results.loc[results[results['away_team'].str.contains('United States Virgin Islands')].index, 'away_team'] = 'US Virgin Islands'

rankings.loc[rankings[rankings['country_full'].str.contains('Timor-Leste')].index, 'country_full'] = 'East Timor'

results.loc[results[results['home_team'].str.contains('Taiwan')].index, 'home_team'] = 'Chinese Taipei'
results.loc[results[results['away_team'].str.contains('Taiwan')].index, 'away_team'] = 'Chinese Taipei'

results.loc[results[results['home_team'].str.contains('Timor-Leste')].index, 'home_team'] = 'East Timor'
results.loc[results[results['away_team'].str.contains('Timor-Leste')].index, 'away_team'] = 'East Timor'

In [76]:
results_dict = results.to_dict('records')
results_dict[0]

{'date': '1993-01-01',
 'home_team': 'Ghana',
 'away_team': 'Mali',
 'home_score': 1,
 'away_score': 1,
 'neutral': 1,
 'home_rank': 39,
 'away_rank': 69,
 'datetime': Timestamp('1993-01-01 00:00:00'),
 'match_type_FIFA_WCQ': 0,
 'match_type_Friendly': 1,
 'match_type_Qualifier': 0,
 'match_type_Tournament/Cup_Match': 0}

In [77]:
rankings_dict = rankings.to_dict('records')
rankings_dict[0:2]

[{'rank': 82.0,
  'country_full': 'Iraq',
  'rank_date': '12/31/1992',
  'datetime': Timestamp('1992-12-31 00:00:00')},
 {'rank': 107.0,
  'country_full': 'Mozambique',
  'rank_date': '12/31/1992',
  'datetime': Timestamp('1992-12-31 00:00:00')}]

In [78]:
def home_rank(row):
    try:
        hometeam = row['home_team']
        matchday = row['datetime']

        hometeam_rankings = []
        for i in rankings_dict:
            if i['country_full'] == hometeam:
                hometeam_rankings.append(i)

        previous_rankings = []
        for i in hometeam_rankings:
            if i['datetime'] <= matchday:
                previous_rankings.append(i)
        # print(hometeam), print(matchday)

        return previous_rankings[-1]['rank']

    except:
        print(hometeam), print(matchday)
        return -1

In [79]:
results['home_rank'] = results.apply(home_rank, axis=1)

In [80]:
results[results['home_rank'] == -1].shape
# Serbia & Montenegro and St. Kitts and Nevis errors fixed after running drops twice???

(0, 13)

In [81]:
#  rankings[rankings['country_full'].str.contains('East Timor')]
#  checks for errors when assigning ranks

In [82]:
#  results[(results['home_team'] == 'East Timor') & (results['datetime'] < '2006-11-22 00:00:00')]
#  checks for errors when assigning ranks

In [83]:
#  results[results['home_team'].str.contains('United States')]
#  checks for errors when assigning ranks

In [84]:
def away_rank(row):
    try:
        awayteam = row['away_team']
        matchday = row['datetime']

        awayteam_rankings = []
        for i in rankings_dict:
            if i['country_full'] == awayteam:
                awayteam_rankings.append(i)

        previous_rankings = []
        for i in awayteam_rankings:
            if i['datetime'] <= matchday:
                previous_rankings.append(i)
        # print(awayteam), print(matchday)

        return previous_rankings[-1]['rank']

    except:
        print(awayteam), print(matchday)
        return -1

In [85]:
results['away_rank'] = results.apply(away_rank, axis=1)

In [38]:
results[results['away_rank'] == -1].shape
# Serbia & Montenegro and St. Kitts and Nevis errors fixed after running drops twice???

(63, 12)

In [39]:
#  rankings[rankings['country_full'].str.contains('USA')]
#  checks for errors when assigning ranks

In [40]:
#  results[(results['away_team'] == 'United States') & (results['datetime'] < '2021-08-21 00:00:00')]
#  checks for errors when assigning ranks

In [41]:
#  results[results['away_team'].str.contains('United States')]
#  checks for errors when assigning ranks

In [42]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1.0,1.0,Friendly,Libreville,Gabon,True,39.0,69.0,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1.0,1.0,Friendly,Libreville,Gabon,False,55.0,97.0,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2.0,0.0,Friendly,Kuwait City,Kuwait,False,71.0,161.0,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1.0,0.0,Friendly,Libreville,Gabon,True,97.0,69.0,1993-01-03
4,1993-01-03,Gabon,Ghana,2.0,3.0,Friendly,Libreville,Gabon,False,55.0,39.0,1993-01-03

In [43]:
results['neutral'] = results['neutral'].map({True: 1, False: 0})

In [44]:
results.isnull().sum()

date          0
home_team     0
away_team     0
home_score    0
away_score    0
tournament    0
city          0
country       0
neutral       0
home_rank     0
away_rank     0
datetime      0
dtype: int64

In [45]:
results[results['home_score'].isnull()]

Empty DataFrame
Columns: [date, home_team, away_team, home_score, away_score, tournament, city, country, neutral, home_rank, away_rank, datetime]
Index: []

In [46]:
results.dropna(inplace=True)

In [47]:
results['home_score'] = results['home_score'].astype(int)
results['away_score'] = results['away_score'].astype(int)
results['home_rank'] = results['home_rank'].astype(int)
results['away_rank'] = results['away_rank'].astype(int)

In [48]:
results['home_team'].nunique()

210

In [49]:
results['away_team'].nunique()

210

In [50]:
results.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,1993-01-01,Ghana,Mali,1,1,Friendly,Libreville,Gabon,1,39,69,1993-01-01
1,1993-01-02,Gabon,Burkina Faso,1,1,Friendly,Libreville,Gabon,0,55,97,1993-01-02
2,1993-01-02,Kuwait,Lebanon,2,0,Friendly,Kuwait City,Kuwait,0,71,161,1993-01-02
3,1993-01-03,Burkina Faso,Mali,1,0,Friendly,Libreville,Gabon,1,97,69,1993-01-03
4,1993-01-03,Gabon,Ghana,2,3,Friendly,Libreville,Gabon,0,55,39,1993-01-03

In [51]:
# dropping games with more than 10 goals scored by one team (decided after EDA after seeing heavy outliers)
results.drop(results[results['home_score'] > 10].index, inplace=True)
results.drop(results[results['away_score'] > 10].index, inplace=True)

In [52]:
results.drop(columns=['city', 'country'], inplace=True)  # neutral column covers this information

In [53]:
results = results.rename(columns={'tournament': 'match_type'})

In [54]:
results.loc[results[results['match_type'] == 'FIFA World Cup qualification'].index, 'match_type'] = 'FIFA_WCQ'
results.loc[results[results['match_type'].str.contains('FIFA World Cup')].index, 'match_type'] = 'FIFA_WC'
results.loc[results[results['match_type'].str.contains('qualification')].index, 'match_type'] = 'Qualifier'
results.loc[results[results['match_type'].str.contains('Cup')].index, 'match_type'] = 'Tournament/Cup_Match'
results.loc[results[results['match_type'].str.contains('Copa')].index, 'match_type'] = 'Tournament/Cup_Match'
results.loc[results[results['match_type'].str.contains('Tournament')].index, 'match_type'] = 'Tournament/Cup_Match'
results.loc[results[results['match_type'].str.contains('Championship')].index, 'match_type'] = 'Tournament/Cup_Match'
results.loc[results[results['match_type'].str.contains('League')].index, 'match_type'] = 'Tournament/Cup_Match'
results.loc[results[results['match_type'].str.contains('Games')].index, 'match_type'] = 'Tournament/Cup_Match'
results.loc[results[results['match_type'].str.contains('UEFA Euro')].index, 'match_type'] = 'Tournament/Cup_Match'
results.loc[results[results['match_type'].str.contains('Festival')].index, 'match_type'] = 'Tournament/Cup_Match'
results.loc[results[results['match_type'].str.contains('Tournoi')].index, 'match_type'] = 'Tournament/Cup_Match'

In [55]:
results['match_type'].value_counts()

Friendly                8542
FIFA_WCQ                5246
Tournament/Cup_Match    5085
Qualifier               4088
FIFA_WC                  436
Name: match_type, dtype: int64

In [56]:
results = pd.get_dummies(results, columns=['match_type'], drop_first=True)

In [57]:
results.head()

,date,home_team,away_team,home_score,away_score,neutral,home_rank,away_rank,datetime,match_type_FIFA_WCQ,match_type_Friendly,match_type_Qualifier,match_type_Tournament/Cup_Match
0,1993-01-01,Ghana,Mali,1,1,1,39,69,1993-01-01,0,1,0,0
1,1993-01-02,Gabon,Burkina Faso,1,1,0,55,97,1993-01-02,0,1,0,0
2,1993-01-02,Kuwait,Lebanon,2,0,0,71,161,1993-01-02,0,1,0,0
3,1993-01-03,Burkina Faso,Mali,1,0,1,97,69,1993-01-03,0,1,0,0
4,1993-01-03,Gabon,Ghana,2,3,0,55,39,1993-01-03,0,1,0,0

In [58]:
results.to_csv('./data/cleaned_results_and_rankings.csv', index=False)

---

### Upcoming Fixtures

In [59]:
qualifying_fixtures.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,2021-09-02,Canada,Honduras,1.0,1.0,FIFA World Cup qualification,Toronto,Canada,False
1,2021-09-02,Panama,Costa Rica,0.0,0.0,FIFA World Cup qualification,Panama City,Panama,False
2,2021-09-02,Mexico,Jamaica,2.0,1.0,FIFA World Cup qualification,Mexico City,Mexico,False
3,2021-09-02,El Salvador,United States,0.0,0.0,FIFA World Cup qualification,San Salvador,El Salvador,False
4,2021-09-05,Jamaica,Panama,0.0,3.0,FIFA World Cup qualification,Kingston,Jamaica,False

In [60]:
qualifying_fixtures['home_rank'] = 0
qualifying_fixtures['away_rank'] = 0

qualifying_fixtures['datetime'] = pd.to_datetime(qualifying_fixtures['date'])

In [61]:
# Ensuring country name matches in rankings and qualifying_fixtures dataframes

rankings.loc[rankings[rankings['country_full'].str.contains('USA')].index, 'country_full'] = 'United States'
qualifying_fixtures.loc[qualifying_fixtures[qualifying_fixtures['home_team'].str.contains('USA')].index, 'home_team'] = 'United States'
qualifying_fixtures.loc[qualifying_fixtures[qualifying_fixtures['away_team'].str.contains('USA')].index, 'away_team'] = 'United States'

In [62]:
qualifying_fixtures['home_rank'] = qualifying_fixtures.apply(home_rank, axis=1)

In [63]:
qualifying_fixtures['away_rank'] = qualifying_fixtures.apply(away_rank, axis=1)

In [64]:
qualifying_fixtures['datetime'].head()

0   2021-09-02
1   2021-09-02
2   2021-09-02
3   2021-09-02
4   2021-09-05
Name: datetime, dtype: datetime64[ns]

In [65]:
qualifying_fixtures

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral,home_rank,away_rank,datetime
0,2021-09-02,Canada,Honduras,1.0,1.0,FIFA World Cup qualification,Toronto,Canada,False,59.0,63.0,2021-09-02
1,2021-09-02,Panama,Costa Rica,0.0,0.0,FIFA World Cup qualification,Panama City,Panama,False,74.0,44.0,2021-09-02
2,2021-09-02,Mexico,Jamaica,2.0,1.0,FIFA World Cup qualification,Mexico City,Mexico,False,9.0,50.0,2021-09-02
3,2021-09-02,El Salvador,United States,0.0,0.0,FIFA World Cup qualification,San Salvador,El Salvador,False,64.0,10.0,2021-09-02
4,2021-09-05,Jamaica,Panama,0.0,3.0,FIFA World Cup qualification,Kingston,Jamaica,False,50.0,74.0,2021-09-05
5,2021-09-05,El Salvador,Honduras,0.0,0.0,FIFA World Cup qualification,San Salvador,El Salvador,False,64.0,63.0,2021-09-05
6,2021-09-05,Costa Rica,Mexico,0.0,1.0,FIFA World Cup qualification,San Jose,Costa Rica,False,44.0,9.0,2021-09-05
7,2021-09-05,United States,Canada,1.0,1.0,FIFA World Cup qualification,Nashville,United States,False,10.0,59.0,2021-09-05
8,2021-09-08,Canada,El Salvador,3.0,0.0,FIFA World Cup qualification,Toronto,Canada,False,59.0,64.0,2021-09-08
9,2021-09-08,Panama,Mexico,1.0,1.0,FIFA World Cup qualification,Panama City,Panama,False,74.0,9.0,2021-09-08
10,2021-09-08,Costa Rica,Jamaica,1.0,1.0,FIFA World Cup qualification,San Jose,Costa Rica,False,44.0,50.0,2021-09-08
11,2021-09-08,Honduras,United States,1.0,4.0,FIFA World Cup qualification,San Pedro Sula,Honduras,False,63.0,10.0,2021-09-08
12,2021-10-07,Honduras,Costa Rica,0.0,0.0,FIFA World Cup qualification,San Pedro Sula,Honduras,False,63.0,44.0,2021-10-07
13,2021-10-07,United States,Jamaica,2.0,0.0,FIFA World Cup qualification,Austin,United States,False,10.0,50.0,2021-10-07
14,2021-10-07,Mexico,Canada,1.0,1.0,FIFA World Cup qualification,Mexico City,Mexico,False,9.0,59.0,2021-10-07
15,2021-10-07,El Salvador,Panama,1.0,0.0,FIFA World Cup qualification,San Salvador,El Salvador,False,64.0,74.0,2021-10-07
16,2021-10-10,Jamaica,Canada,0.0,0.0,FIFA World Cup qualification,Kingston,Jamaica,False,50.0,59.0,2021-10-10
17,2021-10-10,Panama,United States,1.0,0.0,FIFA World Cup qualification,Panama City,Panama,False,74.0,10.0,2021-10-10
18,2021-10-10,Costa Rica,El Salvador,2.0,1.0,FIFA World Cup qualification,San Jose,Costa Rica,False,44.0,64.0,2021-10-10
19,2021-10-10,Mexico,Honduras,3.0,0.0,FIFA World Cup qualification,Mexico City,Mexico,False,9.0,63.0,2021-10-10
20,2021-10-12,United States,Costa Rica,2.0,1.0,FIFA World Cup qualification,Columbus,United States,False,10.0,44.0,2021-10-12
21,2021-10-13,Canada,Panama,4.0,1.0,FIFA World Cup qualification,Toronto,Canada,False,59.0,74.0,2021-10-13
22,2021-10-13,Honduras,Jamaica,0.0,2.0,FIFA World Cup qualification,San Pedro Sula,Honduras,False,63.0,50.0,2021-10-13
23,2021-10-13,El Salvador,Mexico,0.0,2.0,FIFA World Cup qualification,San Salvador,El Salvador,False,64.0,9.0,2021-10-13
24,2021-11-11,United States,Mexico,2.0,0.0,FIFA World Cup qualification,Cincinnati,United States,False,10.0,9.0,2021-11-11
25,2021-11-12,Honduras,Panama,2.0,3.0,FIFA World Cup qualification,San Pedro Sula,Honduras,False,63.0,74.0,2021-11-12
26,2021-11-12,El Salvador,Jamaica,1.0,1.0,FIFA World Cup qualification,San Salvador,El Salvador,False,64.0,50.0,2021-11-12
27,2021-11-12,Canada,Costa Rica,1.0,0.0,FIFA World Cup qualification,Edmonton,Canada,False,59.0,44.0,2021-11-12
28,2021-11-16,Jamaica,United States,1.0,1.0,FIFA World Cup qualification,Kingston,Jamaica,False,50.0,10.0,2021-11-16
29,2021-11-16,Panama,El Salvador,2.0,1.0,FIFA World Cup qualification,Panama City,Panama,False,74.0,64.0,2021-11-16
30,2021-11-16,Costa Rica,Honduras,2.0,1.0,FIFA World Cup qualification,San Jose,Costa Rica,False,44.0,63.0,2021-11-16
31,2021-11-16,Canada,Mexico,2.0,1.0,FIFA World Cup qualification,Edmonton,Canada,False,59.0,9.0,2021-11-16
32,2022-01-26,Jamaica,Mexico,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,50.0,9.0,2022-01-26
33,2022-01-26,Honduras,Canada,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,63.0,59.0,2022-01-26
34,2022-01-26,United States,El Salvador,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,10.0,64.0,2022-01-26
35,2022-01-26,Costa Rica,Panama,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,44.0,74.0,2022-01-26
36,2022-01-29,Honduras,El Salvador,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,63.0,64.0,2022-01-29
37,2022-01-29,Panama,Jamaica,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,74.0,50.0,2022-01-29
38,2022-01-29,Canada,United States,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,59.0,10.0,2022-01-29
39,2022-01-29,Mexico,Costa Rica,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,9.0,44.0,2022-01-29
40,2022-02-01,Jamaica,Costa Rica,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,50.0,44.0,2022-02-01
41,2022-02-01,United States,Honduras,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,10.0,63.0,2022-02-01
42,2022-02-01,Mexico,Panama,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,9.0,74.0,2022-02-01
43,2022-02-01,El Salvador,Canada,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,64.0,59.0,2022-02-01
44,2022-03-23,Jamaica,El Salvador,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,50.0,64.0,2022-03-23
45,2022-03-23,Panama,Honduras,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,74.0,63.0,2022-03-23
46,2022-03-23,Mexico,United States,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,9.0,10.0,2022-03-23
47,2022-03-23,Costa Rica,Canada,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,44.0,59.0,2022-03-23
48,2022-03-26,United States,Panama,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,10.0,74.0,2022-03-26
49,2022-03-26,Honduras,Mexico,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,63.0,9.0,2022-03-26
50,2022-03-26,El Salvador,Costa Rica,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,64.0,44.0,2022-03-26
51,2022-03-26,Canada,Jamaica,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,59.0,50.0,2022-03-26
52,2022-03-29,Mexico,El Salvador,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,9.0,64.0,2022-03-29
53,2022-03-29,Jamaica,Honduras,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,50.0,63.0,2022-03-29
54,2022-03-29,Panama,Canada,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,74.0,59.0,2022-03-29
55,2022-03-29,Costa Rica,United States,NaN,NaN,FIFA World Cup qualification,NaN,NaN,NaN,44.0,10.0,2022-03-29

In [66]:
rankings[(rankings['country_full'] == 'United States') & (rankings['datetime'] < '2021-08-12 00:00:00')]

       rank   country_full   rank_date   datetime
86     24.0  United States  12/31/1992 1992-12-31
240    28.0  United States    8/8/1993 1993-08-08
417    26.0  United States   9/23/1993 1993-09-23
583    26.0  United States  10/22/1993 1993-10-22
752    27.0  United States  11/19/1993 1993-11-19
...     ...            ...         ...        ...
62155  22.0  United States  11/26/2020 2020-11-26
62365  22.0  United States  12/10/2020 2020-12-10
62578  22.0  United States   2/18/2021 2021-02-18
62691  20.0  United States    4/7/2021 2021-04-07
62902  20.0  United States   5/27/2021 2021-05-27

[312 rows x 4 columns]

In [67]:
qualifying_fixtures['neutral'] = 0

In [68]:
qualifying_fixtures['home_rank'] = qualifying_fixtures['home_rank'].astype(int)
qualifying_fixtures['away_rank'] = qualifying_fixtures['away_rank'].astype(int)

In [69]:
qualifying_fixtures.drop(columns=['home_score', 'away_score', 'city', 'country', 'tournament'], inplace=True)

In [70]:
results.columns

Index(['date', 'home_team', 'away_team', 'home_score', 'away_score', 'neutral',
       'home_rank', 'away_rank', 'datetime', 'match_type_FIFA_WCQ',
       'match_type_Friendly', 'match_type_Qualifier',
       'match_type_Tournament/Cup_Match'],
      dtype='object')

In [71]:
qualifying_fixtures.columns

Index(['date', 'home_team', 'away_team', 'neutral', 'home_rank', 'away_rank',
       'datetime'],
      dtype='object')

In [72]:
qualifying_fixtures['match_type_FIFA_WCQ'] = 1
qualifying_fixtures['match_type_Friendly'] = 0
qualifying_fixtures['match_type_Qualifier'] = 0
qualifying_fixtures['match_type_Tournament/Cup_Match'] = 0

In [73]:
qualifying_fixtures.to_csv('./data/cleaned_qualifying_fixtures.csv', index=False)

---